extends ./_template.pug

block style
  link(rel='stylesheet', href='https://unpkg.com/netlify-cms@^0.3/dist/cms.css')

block scripts
  script(src='https://unpkg.com/netlify-cms@^0.3/dist/cms.js')

block content
  