extends ./_template.pug

append style
  link(rel='stylesheet', href='https://unpkg.com/netlify-cms@^0.3/dist/cms.css')

append scripts
  script(src='https://unpkg.com/netlify-cms@^0.3/dist/cms.js')

block content
  h1 omg admin